<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/about">About</a>
  {{!-- <a class="user" href="/control">Control</a> --}}
  <a class="user" href="/history">History</a>
  <a class="user" href="/user/register">Register</a>
  <a class="user" href="/user">Log in</a> 
</div>
