<div class="about">
    <h1>Smart farm là gì ?</h1>
    <p>
        Smart farm là mô hình nông trại thông minh, là cách làm nông nghiệp tuy nhiên 
        có sử dụng hệ thống công nghệ số hỗ trợ. Nó sử dụng cảm biến và lượng data 
        khổng lồ có khả năng dự đoán cũng như đưa ra những nhận xét và các quyết định
        một cách chính xác nhất để đảm bảo hiệu suất cao hơn cho nông trại.
    </p>
    <h1>Tầm quan trọng của Smart Farm</h1>
    <p>
        Có thể nói, với sự ứng dụng cao cấp công nghệ mới, Smart farm đã và đang đem lại
        rất nhiều lợi ích cho ngành nông nghiệp. Theo những nghiên cứu mới về việc tối ưu
        hóa nông nghiệp, theo những quyết định của người nông dân khi làm trang trại
        như định lượng thuốc trừ sâu, sử dụng những hạt giống gieo trồng hoàn toàn dựa trên
        kinh nghiệm và những trực giác chủ quan. Những quyết định làm nông của họ không 
        theo quy tắc khoa học chính xác nào cả.
        Tuy nhiên khi sử dụng Smart farm, với những cảm biến kỹ thuật cao cấp cùng hệ thống
        dữ liệu lớn, Smart farm sẽ giúp người làm nông có thể có căn cứ khoa học chính xác
        xác định được những vấn đề liên quan như định lượng thuốc trừ sâu, so sánh đánh giá
        chất lượng hạt giống để đưa ra sự quyết đoán chính xác đưa đến tăng cao năng suất
        nông sản hơn.
    </p>
</div>